simplified_ui true
pane_frames false

keybinds {
    // keybinds are divided into modes
    normal {
        // Modes
        bind "Ctrl g" { SwitchToMode "locked"; }

        // Actions
        bind "Ctrl v" { NewPane "Right"; }
        bind "Ctrl h" { NewPane "Down"; }
        bind "Ctrl n" { NewTab; SwitchToMode "Normal"; }

        // Navigation
        bind "Ctrl h" { MoveFocus "Left"; SwitchToMode "Normal"; }
        bind "Ctrl j" { MoveFocus "Down"; SwitchToMode "Normal"; }
        bind "Ctrl k" { MoveFocus "Up"; SwitchToMode "Normal"; }
        bind "Ctrl l" { MoveFocus "Right"; SwitchToMode "Normal"; }
    }

    locked {
        bind "Ctrl g" { SwitchToMode "normal"; }
    }
}
